// 공통
.container {
  background: #f7f7f7;
  .inner {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 1100px;
    margin: 0 auto;
    padding: 9px 0;
  }
  @include desktop {
    .inner { width: 100%; gap: 5px; padding: 5px; }
  }
}
.group-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  @include desktop {
    gap: 5px;
  }
}
.column-right {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: calc((100% - 9px) / 2);
  @include desktop {
    flex-direction: row; gap: 5px; width: 100%;
  }
}
.section {
  border: 1px solid rgba(#e4e4e4, 80%);
  background: #fff;
}
.title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 15px;
  }
}
.sc-title {
  font-size: 22px;
  font-weight: bold;

  @include tablet {
    font-size: 11px;
  }
}
.link-more {
  display: block;
  width: 20px; height: 20px;
  background: url('../images/ico-more.png');
  background-size: cover;

  @include tablet {
    width: 10px; height: 10px;
  }
}

// .sc-visual
.sc-visual {
  width: calc((100% - 9px) / 2);
  border: none;
  .slide {
    position: relative;
    height: 230px;
    &-list {}
    &-item {
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      opacity: 0;
      background: url('../images/bg-visual.png') no-repeat;
      background-size: cover;
      background-position: right bottom;
      transition: opacity 1s;
      a {
        display: block;
        height: 230px;
        padding: 50px 0 0 26px;
      }
      .txt-box {
        font-weight: bold;
        .title {
          font-size: 24px;
          color: #007092;
        }
        .desc {
          margin-top: 14px;
          line-height: 1.7;
          font-size: 14px;
          color: #5c5c5c;
        }
      }
      &.active {
        opacity: 1;
      }
    }
    .pagination {
      display: flex;
      position: absolute;
      left: 50%; bottom: 20px;
      transform: translateX(-50%);
      button {
        width: 14px; height: 14px;
        margin: 0 1px;
        border-radius: 50%;
        background: #727272;
        cursor: pointer;
        transition: width 0.4s;
        &.active {
          width: 37px;
          margin: 0 3px;
          border-radius: 15px;
          background: #006e93;
        }
      }
    }
  }
  @include desktop {
    width: 100%;
  }
  @include tablet {
    .slide .slide-item a {padding: 25px 0 0 15px;}
    .slide .slide-item .txt-box .title {font-size: 14px;}
    .slide .slide-item .txt-box .desc { margin-top: 8px; font-size: 8px; }
    .slide .pagination button {width: 7px; height: 7px;}
    .slide .pagination button.active {width: 19px;}
  }
}

// .sc-notice
.sc-notice {
  width: calc((100% - 9px) / 2); height: 230px;
  padding: 30px;
  .notice-list {}
  .notice-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    .title {
      display: block;
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &::before {
        content: '';
        display: inline-block;
        width: 3px; height: 3px;
        margin-right: 8px;
        border-radius: 50%;
        vertical-align: middle;
        background: #000;
      }
    }
    .date {
      padding-right: 15px;
      color: #939393;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include desktop {
    width: 100%; height: auto;
  }
  @include tablet {
    padding: 15px;
    .notice-item {margin-bottom: 10px; font-size: 9px;}
    .notice-item .title {width: 200px;}
    .notice-item .title::before {width: 2px; height: 2px; margin-right: 4px;}
    .notice-item .date {padding-right: 0;}
  }
}

// .sc-event
.sc-event {
  position: relative;
  width: calc((100% - 9px) / 2); height: 469px;
  .sc-title {
    position: absolute;
    left: 30px; top: 30px;
    z-index: 5;
    color: #fff;
  }
  .event-slide {
    position: relative;
    height: 469px;
    overflow: hidden;
    &-wrap {}
    .swiper-wrapper {
      display: inline-flex;
    }
    .swiper-slide {
      background: url('../images/bg-event.png')no-repeat;
      background-size: cover;
      a {
        display: block;
        height: 469px;
        padding: 135px 0 58px;
        text-align: center;
        color: #fff;
      }   
      .event-info {
        font-size: 16px;
        .title {
          font-size: 35px;
          .sub-title {
            display: block;
            margin-top: 17px;
            font-size: 20px;
          }
        }
        .txt-box {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 400px;
          margin: 58px auto 0;
          text-align: left;
          font-size: 16px;
          span {
            width: 74px;
            margin-right: 18px;
            text-align: left;
            &::before, &::after {
              content: '';
              display: inline-block;
              width: 1px; height: 16px;
              vertical-align: middle;
              background: rgba(#fff, 40%);
            }
            &::before {
              margin-right: 18px;
            }
            &::after {
              margin-left: 18px;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .btn-more {
        display: inline-block;
        width: 280px; height: 48px;
        line-height: 48px;
        margin-top: 50px;
        text-align: center;
        font-weight: bold;
        color: #018ad1;
        background: #fff;
        .ico-more {
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            content: '';
            display: inline-block;
            width: 24px; height: 24px;
            margin-left: 16px;
            background: url('../images/btn-more.png') no-repeat;
            background-size: cover;
          }
        }
      }
    }
    .btn {
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      width: 45px; height: 45px;
      background: url('../images/ico-event-arrow.png') no-repeat;
      background-size: contain;
      cursor: pointer;
      &.hide {
        display: none;
      }
      &.prev {
        left: 30px;
      }
      &.next {
        right: 30px;
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  @include desktop {
    width: 100%; 
    height: auto;
  }
  @include tablet {
    .sc-title { left: 15px; top: 15px; }
    .event-slide {height: auto;}
    .event-slide .swiper-slide a {height: auto; padding: 60px 0 30px;}
    .event-slide .swiper-slide .event-info .title {font-size: 21px;}
    .event-slide .swiper-slide .event-info .title .sub-title {margin-top: 8px; font-size: 12px;}
    .event-slide .swiper-slide .event-info .txt-box {font-size: 9px; width: 240px; margin: 25px auto 0; gap: 10px;}
    .event-slide .swiper-slide .event-info .txt-box span {width: 45px; margin-right: 10px;}
    .event-slide .swiper-slide .event-info .txt-box span::before {height: 10px; margin-right: 10px;}
    .event-slide .swiper-slide .event-info .txt-box span::after {height: 10px; margin-left: 10px;}
    .event-slide .swiper-slide .event-info .btn-more {width: 140px; height: 24px; line-height: 24px; margin-top: 25px; font-size: 8px;}
    .event-slide .swiper-slide .event-info .btn-more .ico-more::after {width: 12px; height: 12px;}
    .event-slide .btn {width: 11px; height: 23px; background-size: cover;}
    .event-slide .btn.prev {left: 15px;}
    .event-slide .btn.next {right: 15px;}
  }
}

//.sc-case
.sc-case {
  height: 230px;
  padding: 30px;
  .case-info {
    display: flex;
    gap: 20px;
    .img-box {
      width: 162px; height: 120px;
      img {
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }
    .txt-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      .title {
        font-size: 18px;
      }
      .desc {
        margin-top: 23px;
        line-height: 1.5;
        font-size: 14px;
        font-weight: bold;
        color: #006384;
        @include ellipsis($line: 3);
      }
    }
  }
  @include desktop {
    width: calc((100% - 5px) / 2); height: auto;

    .case-info {flex-direction: column;}
    .case-info .txt-box {width: auto;}
  }
  @include tablet {
    padding: 15px;

    .case-info {gap: 10px;}
    .case-info .img-box {width: 100%;}
    .case-info .txt-box .title {font-size: 10px;}
    .case-info .txt-box .desc {font-size: 9px; margin-top: 6px;}
  }
}

// .sc-journal
.sc-journal {
  height: 230px;
  padding: 30px;
  .sc-title {
    margin-bottom: 17px;
  }
  .journal-info {
    display: flex;
    gap: 37px;
    .img-box {
      img {}
    }
    .journal-list {
      display: flex;
      flex-direction: column;
      gap: 18px;
      width: calc((100% - 37px) - 98px);
      padding-left: 11px;
      text-indent: -11px;
    }
    .journal-item {
      a {
        display: block;
        position: relative;
        line-height: 1.2;
        font-size: 20px;
        font-weight: bold;
        &::before {
          content: '';
          display: inline-block;
          width: 3px; height: 3px;
          margin-right: 8px;
          border-radius: 50%;
          vertical-align: middle;
          background: #000;
        }
        &::after {
          content: '';
          position: absolute;
          right: 0; top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          width: 13px; height: 20px;
          background: url('../images/ico-arrow.png') no-repeat;
          background-size: cover;
        }
      }
      &:nth-child(1) {
        &::after {
          content: '';
          display: block;
          width: 100%; height: 3px;
          margin-top: 26px;
          background: url('../images/img-dashed.png') no-repeat;
          background-size: cover;
        }
      }
    }
  }
  @include desktop {
    width: calc((100% - 5px) / 2); height: auto;

    .journal-info {flex-direction: column;}
    .journal-info .img-box {margin: 0 auto;}
    .journal-info .journal-list {width: 100%;}
  }
  @include tablet {
    padding: 15px;

    .journal-info {gap: 10px;}
    .journal-info .journal-list {gap: 7px;}
    .journal-info .journal-item:nth-child(1)::after {margin-top: 7px;}
    .journal-info .journal-item a {font-size: 9px;}
    .journal-info .journal-item a::after {width: 7px; height: 11px;}
  }
}

// .sc-quick
.sc-quick {
  height: 124px;
  border: none;
  background: none;
  .quick-list {
    display: flex;
    gap: 1px;
    width: 100%; height: 100%;
    padding: 1px;
  }
  .quick-item {
    flex: 1;
    a {
      display: flex;
      align-items: center;
      width: 100%; height: 100%;
      padding: 0 31px;
      line-height: 1.9;
      font-size: 14px;
      letter-spacing: -0.07px;
      color: #fff;
      &::before {
        content: '';
        width: 47px; height: 44px;
        margin-right: 14px;
      }
      &.link-ultrasound-intro {
        background: #18417f;
        &::before {
          background: url('../images/ico-quick1.png') no-repeat left center;
          background-size: contain;
        }
      }
      &.link-ultrasound-edu {
        background: #ec8735;&::before {
          background: url('../images/ico-quick2.png') no-repeat left center;
          background-size: contain;
        }
      }
      &.link-ultrasound-certifi {
        background: #0090a5;
        &::before {
          background: url('../images/ico-quick3.png') no-repeat left center;
          background-size: contain;
        }
      }
      &.link-membership {
        line-height: 1.4;
        background: #4a5a71;
        &::before {
          background: url('../images/ico-quick4.png') no-repeat left center;
          background-size: contain;
        }
      }
    }
    .title {
      display: block;
      font-size: 18px;
    }
  }
  @include desktop {
    height: auto;

    .quick-list {flex-wrap: wrap;}
    .quick-item {flex: none; width: calc((100% - 1px) / 2);}
    .quick-item a {padding: 20px 30px;}
  }
  @include tablet { 
    .quick-item a {padding: 18px 15px; font-size: 9px;}
    .quick-item a::before {width: 24px; height: 22px; margin-right: 11px;}
    .quick-item .title {font-size: 12px;}
    .quick-item .link-ultrasound-certifi .title {letter-spacing: -1px;}
  }
}

// sc-sponbanner
.sc-sponbanner {
  border: none;
  background: none;
  padding: 6px 0;
  .slide {
    position: relative;
    &-wrap {
      position: relative;
      overflow: hidden;
      width: 1022px; height: 48px;
      margin: 0 auto;
    }
    &-list {
      position: absolute;
      left: 0; top: 0;
      display: inline-flex;
      gap: 18px;
      &.animate {
        transition: left 0.2s;
      }
    }
    &-item {
      width: 190px; height: 48px;
      a {
        display: block;
      }
      img {}
    }
    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px; height: 20px;
      background: url('../images/ico-spon-arrow.png') no-repeat;
      background-size: contain;
      cursor: pointer;
      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  @include desktop {
    display: none;
  }
}