@mixin ellipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: $line;
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}